[Unit]
Description=Royal Baccarat Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/0zctn
ExecStart=/usr/bin/python3 /root/0zctn/ornek.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
